@import "tailwindcss";



@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-black-1:#030303;
  --color-black-2:#121212;
  --color-black-3:#284543;
  --color-white-1:#FFFFFF;
  --color-white-2:#EBEBEB;
  --color-blue-1:#0195F5;
  --color-green-1:#007781;
  --color-green-2:#3C9197;
  --color-green-3:#C7F1EE;
  --color-green-4:#E6FBFB;
  --color-gray-1:#828484;
  --color-gray-2:#D3D3D3;
  --color-gray-3:#747474;
  --color-gray-4: #EFEFEF;
  --color-gray-5: #F5F5F5;
  --color-gray-6: #949494;
  --color-gray-7: #C7C7C7;
  --color-gray-8: #4B514F;
  --color-gray-9: #E5E5E5;
  --color-gray-10: #F6F6F6;
  --color-gray-11:#727272;
  --color-gray-12: #EEF2F3;
  --color-gray-13: #9AA4A6;
  --color-orange:#EE6134;
  --color-red-1:#E92440;
  --color-blue-1:#4286F8;
  --font-plex:'IBM Plex Sans Variable', sans-serif;

}



.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 9999s ease-in-out 0s !important;
}

/* Firefox */
input:-moz-autofill {
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -moz-text-fill-color: inherit !important;
}